<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xiuxayo.els1010"
          android:installLocation="auto">

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Tell Cocos2dxActivity the name of our .so -->
        <meta-data android:name="android.app.lib_name"
                   android:value="cocos2djs" />
        
        <activity
                android:name="org.cocos2dx.javascript.AppActivity"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:launchMode="singleTask"
                android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
                   android:value="ca-app-pub-3180535698853578~4286818547"/>

        <!--<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>-->

        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="true"
                  android:name="com.ironsource.sdk.controller.ControllerActivity"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="true"
                  android:name="com.ironsource.sdk.controller.InterstitialActivity"
                  android:theme="@android:style/Theme.Translucent"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="true"
                  android:name="com.ironsource.sdk.controller.OpenUrlActivity"
                  android:theme="@android:style/Theme.Translucent"/>
        <activity
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity"/>
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity"/>
        <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"/>
        <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity"/>
        <!--<activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:hardwareAccelerated="true" android:name="com.chartboost.sdk.CBImpressionActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />-->
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true"
                  android:name="com.facebook.ads.AudienceNetworkActivity"/>
        <!--<activity android:configChanges="orientation|screenSize|keyboardHidden|keyboard|smallestScreenSize|uiMode|fontScale|screenLayout|locale" android:name="com.ironsource.adapters.hyprmx.MediationHMXActivity" />-->
        <!--<activity android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout" android:hardwareAccelerated="true" android:name="com.inmobi.rendering.InMobiAdActivity" android:resizeableActivity="false" android:theme="@android:style/Theme.NoTitleBar" />-->
        <!--<activity android:configChanges="orientation|screenLayout|screenSize" android:hardwareAccelerated="true"-->
        <!--android:name="jp.maio.sdk.android.AdFullscreenActivity"-->
        <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>-->
        <!--<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="jp.maio.sdk.android.HtmlBasedAdActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />-->
        <!--<activity android:configChanges="orientation|screenSize|keyboard" android:hardwareAccelerated="true" android:name="com.mediabrix.android.service.AdViewActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />-->
        <!--<activity android:configChanges="orientation|screenSize|keyboard" android:hardwareAccelerated="true" android:name="com.mediabrix.android.service.ClickOutActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />-->
        <!--<service android:name="com.mediabrix.android.service.MediaBrixService" />-->
        <!--<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MoPubActivity" />-->
        <!--<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MraidActivity" />-->
        <!--<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.common.MoPubBrowser" />-->
        <!--<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MraidVideoPlayerActivity" />-->
        <!--<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.RewardedMraidActivity" />-->
        <!--<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.common.privacy.ConsentDialogActivity" />-->
        <activity
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="true" android:name="com.unity3d.services.ads.adunit.AdUnitActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="true"
                android:name="com.unity3d.services.ads.adunit.AdUnitTransparentActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="false"
                android:name="com.unity3d.services.ads.adunit.AdUnitTransparentSoftwareActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="false"
                android:name="com.unity3d.services.ads.adunit.AdUnitSoftwareActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <!--<activity android:configChanges="orientation|keyboardHidden|screenSize" android:hardwareAccelerated="true" android:name="com.tapjoy.TJAdUnitActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />-->
        <!--<activity android:configChanges="orientation|keyboardHidden|screenSize" android:name="com.tapjoy.mraid.view.ActionHandler" />-->
        <!--<activity android:configChanges="orientation|keyboardHidden|screenSize" android:name="com.tapjoy.mraid.view.Browser" />-->
        <!--<activity android:configChanges="orientation|keyboardHidden|screenSize" android:hardwareAccelerated="true" android:name="com.tapjoy.TJContentActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fb739722829773347"/>
    </application>
    
</manifest>
